.container_card {
  width: 320px;
  height: 420px;
  background-color: rgb(243, 243, 243);
  border-radius: 12px;
  border: 1px solid rgb(233, 233, 233);
  transition: 0.5s;
  overflow: hidden;
}

.container_img {
  width: 100%;
  height: 60%;
}

.container_img img {
  border-radius: 12px;
  width: 100%;
  height: 95%;
  object-fit: cover;
  border: 1px solid rgb(230, 230, 230);
}

.container_content {
  width: 100%;
  height: 35%;
  padding: 10px;
}

.container_content h2 {
  font-size: 1.45rem;
  margin-bottom: 5px;
  font-weight: 600;
}

.container_content p {
  font-size: 0.9rem;
  margin-bottom: 5px;
  color: rgb(60, 60, 60);
}

a {
  text-decoration: none;
  color: black;
}

@media screen and (min-width: 735px) {
  .container_card:hover {
    transform: scale(1.08);
  }
}
