.container-nav-bar{
    display: none;
    backdrop-filter: blur(10px);
    justify-content: space-between;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.icon-button{
    size: 12px;
}

button{
    border: none;
    width: 100%;
    padding: 10px;
    
    background-color: #00000057;
}

@media screen and (max-width: 736px) {
    .container-nav-bar{
        display: flex;
    }
}