a {
  color: black;
}
footer {
  background-color: rgb(243, 243, 243);

  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgb(233, 233, 233);
}
