<div class="container_header">
    <header>
        <div class="menu-desktop">
            <nav class="flex">
                <div class="container_logo">
                   <a routerLink="/">
                       <h1 class="text-black">Narutinho Wiki</h1>
                   </a>
                </div>
                <div class="container_links">
                    <ul class="flex">
                        <li><a routerLink="/">{{link1}}</a></li>
                        <li><a routerLink="/posts">{{link2}}</a></li>
                        <li><a routerLink="/contact">{{link3}}</a></li>
                    </ul>
                </div>
                <div class="container_redes flex">
                    <a href="">
                        <img src="./icons/discord.svg" alt="">
                    </a>
                    <a href="https://github.com/Ranskyth">
                        <img src="./icons/github.svg" alt="">
                    </a>
                    <a href="https://x.com/GaLima2205">
                        <img src="./icons/twitter-x.svg" alt="">
                    </a>
                </div>
            </nav>
        </div>
    </header>
</div>
