.flex{
    display: flex;
}
.center{
    justify-content: center;
}
.column{
    flex-direction: column;
}
main{
    margin-top: 150px;
    padding: 0 50px;
}
.desction-personagem{
    margin-left: 75px;
}
.gap{
    gap: 25px;
}
.text-main-personagem{
    width: 650px;
}

.container-text-main{
    width: 100%;
}

@media screen and (max-width: 600px){
    main{
        display: flex;
        flex-direction: column-reverse;
 
    }
    
    .text-main-personagem{
        width: 100%;
    }
    .desction-personagem{
        margin: 0 auto;
        margin-bottom: 35px;
    }
}
