<main class="flex center fade-page">
  <section class="text-main-personagem fade-left">
    <div class="flex column gap container-text-main">
      <h1 class="chakra-title">{{ nomepersonagem }}</h1>
      <p class="fade-text">{{ bibliografia.intro }}</p>

      <h1 class="chakra-subtitle">História de {{ nomepersonagem }}</h1>
      <p class="fade-text">{{ bibliografia.historia }}</p>

      <h1 class="chakra-subtitle">Aparência de {{ nomepersonagem }}</h1>
      <p class="fade-text">{{ bibliografia.aparencia }}</p>

      <h1 class="chakra-subtitle">Personalidade de {{ nomepersonagem }}</h1>
      <p class="fade-text">{{ bibliografia.personalidade }}</p>

      <h1 class="chakra-subtitle">Curiosidades</h1>
      <div class="flex column gap curiosidades-list">
        <p
          *ngFor="let item of curiosidades; let i = index"
          class="curiosidade-item"
        >
          {{ i + 1 }} - {{ item }}
        </p>
      </div>
    </div>
  </section>

  <section class="desction-personagem fade-right">
    <app-card-contet id="{{ pageid }}" />
  </section>
</main>
