@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Permanent Marker", Helvetica, sans-serif;
}
body {
  color: black;
}
a {
  text-decoration: none;
  color: white;
}
